<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmer_portalnew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.farmer_portalnew.PaymentMethod.creditcard"></activity>
        <activity android:name="com.example.farmer_portalnew.UpdateYourCrop"></activity>
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.farmer_portalnew.PaymentMethod.Cash" />
        <activity android:name="com.example.farmer_portalnew.PaymentMethod.paytm" />
        <activity android:name="com.example.farmer_portalnew.PaymentMethod.PaymentsMethod" />
        <activity android:name="com.example.farmer_portalnew.BuyNow" />
        <activity android:name="com.example.farmer_portalnew.MyProductActivity" />
        <activity android:name="com.example.farmer_portalnew.displayproduct" />
        <activity
            android:name="com.example.farmer_portalnew.Login"
            android:theme="@style/FormTheme" />
        <activity android:name="com.example.farmer_portalnew.PhoneNumberVerify" />
        <activity
            android:name="com.example.farmer_portalnew.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.example.farmer_portalnew.Register"
            android:theme="@style/FormTheme" />
        <activity
            android:name="com.example.farmer_portalnew.WelcomeSplash"
            android:theme="@style/FormTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>